{% include '/scripts.html'  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuidadores y Perros</title>
</head>
<body>
<h1>Cuidadores y Perros</h1>
<br>
<a class="btn btn-success" href="/mostrar_cuidadores">Mostrar Cuidadores</a>
</br></br>
<a class="btn btn-primary" href="/mostrar_perritos">Mostrar Perros</a>
</br></br>
<a class="btn btn-warning" href="{{ url_for('contar_perros') }}">Perros llamados "Lassie"</a>  
</br></br>
<a class="btn btn-danger" href="{{ url_for('asignar_perros_a_mario') }}">Asignar perros a "Mario"</a> 
</body>
</html> 